<form [formGroup]="formaLiquido" *ngIf="infoEnsayoCombustible">
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <label for="txtInfLab" class="col-sm-3 col-form-label">N° Informe Laboratorio</label>
        <div class="col-sm-9">
          <input formControlName="numeroInformeLaboratorio" [ngClass]="{'is-invalid': !formaLiquido.get('numeroInformeLaboratorio').valid}" type="text" class="form-control form-control-sm" id="txtInfLab" placeholder="Nro. Informe Laboratorio">
        </div>
      </div>
      <div class="form-group row">
        <label for="txtObservaciones" class="col-sm-3 col-form-label">Observaciones</label>
        <div class="col-sm-9">
          <input formControlName="observaciones" [ngClass]="{'is-invalid': !formaLiquido.get('observaciones').valid}" type="text" class="form-control form-control-sm" id="txtObservaciones" placeholder="Detallar">
        </div>
      </div>
      <div class="container">
        <ngb-tabset>
          <ngb-tab id="tab-preventchange1" title="Primera">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtOctanaje" class="col-md-6 col-form-label">Octanaje (RON)</label>
                    <div class="col-md-6">
                      <input formControlName="octanaje" [ngClass]="{'is-invalid': !formaLiquido.get('octanaje').valid}" type="text" class="form-control form-control-sm" id="txtOctanaje">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtPuntoInflamacion" class="col-md-6 col-form-label">Punto Inflamación (°C)</label>
                    <div class="col-md-6">
                      <input formControlName="puntoInflamacion" [ngClass]="{'is-invalid': !formaLiquido.get('puntoInflamacion').valid}" type="text" class="form-control form-control-sm" id="txtPuntoInflamacion">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtPresionVaporReid" class="col-md-6 col-form-label">Presión Vapor Reid (psig)</label>
                    <div class="col-md-6">
                      <input formControlName="presionVaporReid" [ngClass]="{'is-invalid': !formaLiquido.get('presionVaporReid').valid}" type="text" class="form-control form-control-sm" id="txtOctanoVapor">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoAzufre4294" class="col-md-6 col-form-label">Contenido Azufre (ppm)4294</label>
                    <div class="col-md-6">
                      <input formControlName="contenidoAzufre4294" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoAzufre4294').valid}" type="text" class="form-control form-control-sm" id="txtContenidoAzufre4294">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoAzufre5453" class="col-md-6 col-form-label">Contenido Azufre (ppm)5453</label>
                    <div class="col-md-6">
                      <input formControlName="contenidoAzufre5453" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoAzufre5453').valid}" type="text" class="form-control form-control-sm" id="txtContenidoAzufre5453">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtViscosidadCinematica" class="col-md-6 col-form-label">Viscosidad Cinemática (cSt)</label>
                    <div class="col-md-6">
                      <input formControlName="viscosidadCinematica" [ngClass]="{'is-invalid': !formaLiquido.get('viscosidadCinematica').valid}" type="text" class="form-control form-control-sm" id="txtViscosidadCinematica">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoManganeso" class="col-md-6 col-form-label">Cont. Manganeso (mg/l)</label>
                    <div class="col-md-6">
                      <input formControlName="contenidoManganeso" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoManganeso').valid}" type="text" class="form-control form-control-sm" id="txtContenidoManganeso">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtPuntoEscurrimiento" class="col-md-6 col-form-label">Punto Escurrimiento (ªC)</label>
                    <div class="col-md-6">
                      <input formControlName="puntoEscurrimiento" [ngClass]="{'is-invalid': !formaLiquido.get('puntoEscurrimiento').valid}" type="text" class="form-control form-control-sm" id="txtPuntoEscurrimiento">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoPlomo" class="col-md-6 col-form-label">Contenido Plomo (g Pb/L)</label>
                    <div class="col-md-6">
                      <input formControlName="contenidoPlomo" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoPlomo').valid}" type="text" class="form-control form-control-sm" id="txtContenidoPlomo">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoPlomoAstmd3341" class="col-md-6 col-form-label">Contenido Plomo (g Pb/L) - ASTM D 3341</label>
                    <div class="col-md-6">
                      <input formControlName="contenidoPlomoAstmd3341" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoPlomoAstmd3341').valid}" type="text" class="form-control form-control-sm" id="ContenidoPlomoAstmd3341">
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange2" title="Segunda">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoPlomoAstmd3237" class="col-md-6 col-form-label">Contenido Plomo (g Pb/L) - ASTM D 3237</label>
                    <div class="col-md-6">
                      <input formControlName="contenidoPlomoAstmd3237" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoPlomoAstmd3237').valid}" type="text" class="form-control form-control-sm" id="txtContenidoPlomoAstmd3237">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_pie" class="col-md-5 col-form-label">ASTM D 86 (PIE)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_pie" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_pie').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_pie">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_5p" class="col-md-5 col-form-label">ASTM D 86 (5%)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_5p" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_5p').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_5p">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_10p" class="col-md-5 col-form-label">ASTM D 86 (10%)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_10p" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_10p').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_10p">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_20p" class="col-md-5 col-form-label">ASTM D 86 (20%)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_20p" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_20p').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_20p">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_50p " class="col-md-5 col-form-label">ASTM D 86 (50%)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_50p" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_50p').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_50p">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_90p " class="col-md-5 col-form-label">ASTM D 86 (90%) </label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_90p" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_90p').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_90p">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_95p" class="col-md-5 col-form-label">ASTM D 86 (95%)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_95p" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_95p').valid}"  type="text" class="form-control form-control-sm" id="txtAstmd86_95p">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_pfe " class="col-md-5 col-form-label">ASTM D 86 (PFE)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_pfe" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_pfe').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_pfe">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_recup" class="col-md-5 col-form-label">ASTM D 86 (RECUP)</label>
                    <div class="col-md-7">
                      <input formControlName="astmd86_recup" [ngClass]="{'is-invalid': !formaLiquido.get('astmd86_recup').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_recup">
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange3" title="Tercero">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_residuo" class="col-md-7 col-form-label">ASTM D 86 (RESIDUO)</label>
                    <div class="col-md-5">
                      <input formControlName="aastmd86_residuo" [ngClass]="{'is-invalid': !formaLiquido.get('aastmd86_residuo').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_residuo">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAstmd86_perdidas" class="col-md-7 col-form-label">ASTM D 86 (PERDIDAS)</label>
                    <div class="col-md-5">
                      <input formControlName="aastmd86_perdidas" [ngClass]="{'is-invalid': !formaLiquido.get('aastmd86_perdidas').valid}" type="text" class="form-control form-control-sm" id="txtAstmd86_perdidas">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtGravidadApi" class="col-md-7 col-form-label">Gravidad ºAPIo</label>
                    <div class="col-md-5">
                      <input formControlName="gravidadApi" [ngClass]="{'is-invalid': !formaLiquido.get('gravidadApi').valid}" type="text" class="form-control form-control-sm" id="txtGravidadApi">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtDensidadRelativa" class="col-md-7 col-form-label">Densidad Relativa (g/ml)</label>
                    <div class="col-md-5">
                      <input formControlName="densidadRelativa" [ngClass]="{'is-invalid': !formaLiquido.get('densidadRelativa').valid}" type="text" class="form-control form-control-sm" id="txtDensidadRelativa">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtIndiceCetanoProcedenciaA" class="col-md-7 col-form-label">Indice de Cetano calculado ecuación 4 variables Proced. A</label>
                    <div class="col-md-5">
                      <input formControlName="indiceCetanoProcedenciaA" [ngClass]="{'is-invalid': !formaLiquido.get('indiceCetanoProcedenciaA').valid}" type="text" class="form-control form-control-sm" id="txtIndiceCetanoProcedenciaA">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtIndiceCetanoProcedenciaAProcedenciaB " class="col-md-7 col-form-label">Indice de Cetano calculado ecuación 4 variables Proced. B</label>
                    <div class="col-md-5">
                      <input formControlName="indiceCetanoProcedenciaB" [ngClass]="{'is-invalid': !formaLiquido.get('indiceCetanoProcedenciaB').valid}" type="text" class="form-control form-control-sm" id="txtIndiceCetanoProcedenciaAProcedenciaB">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtIndiceCetano " class="col-md-7 col-form-label">Indice de Cetano </label>
                    <div class="col-md-5">
                      <input formControlName="indiceCetano" [ngClass]="{'is-invalid': !formaLiquido.get('indiceCetano').valid}" type="text" class="form-control form-control-sm" id="txtIndiceCetano">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtindiceCetanoBajoAzufre" class="col-md-7 col-form-label">Indice de Cetano para bajo azufre</label>
                    <div class="col-md-5">
                      <input formControlName="indiceCetanoBajoAzufre" [ngClass]="{'is-invalid': !formaLiquido.get('indiceCetanoBajoAzufre').valid}" type="text" class="form-control form-control-sm" id="txtindiceCetanoBajoAzufre">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoFameVolumen " class="col-md-7 col-form-label">Contenido FAME (% Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoFameVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoFameVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoFameVolumen">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoEtanolVolumen" class="col-md-7 col-form-label">Contenido Etanol (% Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoEtanolVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoEtanolVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoEtanolVolumen">
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange4" title="Cuarto">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtTotalOxigenadosVolumen" class="col-md-7 col-form-label">Total Oxigenados (%Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="totalOxigenadosVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('totalOxigenadosVolumen').valid}" type="text" class="form-control form-control-sm" id="txtTotalOxigenadosVolumen">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtTotalOxigeno" class="col-md-7 col-form-label">Total Oxigeno (% masa)</label>
                    <div class="col-md-5">
                      <input formControlName="totalOxigeno" [ngClass]="{'is-invalid': !formaLiquido.get('totalOxigeno').valid}" type="text" class="form-control form-control-sm" id="txtTotalOxigeno">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoMtbeVolumen" class="col-md-7 col-form-label">Contenido de MTBE(%Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoMtbeVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoMtbeVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoMtbeVolumen">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoTameVolumen" class="col-md-7 col-form-label">Contenido de TAME(%Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoTameVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoTameVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoTameVolumen">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoEtbeVolumen" class="col-md-7 col-form-label">Contenido de ETBE(%Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoEtbeVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoEtbeVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoEtbeVolumen">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoMetanolVolumen" class="col-md-7 col-form-label">Contenido de METANOL(%Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoMetanolVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoMetanolVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoMetanolVolumen">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoTertbutanoVolumen" class="col-md-7 col-form-label">Contenido de TERT-BUTANOL(%Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoTertbutanoVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoTertbutanoVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoTertbutanoVolumen">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoDipeVolumen " class="col-md-7 col-form-label">Contenido de DIPE(%Vol)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoDipeVolumen" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoDipeVolumen').valid}" type="text" class="form-control form-control-sm" id="txtContenidoDipeVolumen">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoMtbeMasa " class="col-md-7 col-form-label">Contenido de MTBE(%masa) </label>
                    <div class="col-md-5">
                      <input formControlName="contenidoMtbeMasa" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoMtbeMasa').valid}" type="text" class="form-control form-control-sm" id="txtContenidoMtbeMasa">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoTameMasa" class="col-md-7 col-form-label">Contenido de TAME(%masa)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoTameMasa" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoTameMasa').valid}" type="text" class="form-control form-control-sm" id="txtContenidoTameMasa">
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange5" title="Quinto">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoEtbeMasa" class="col-md-7 col-form-label">Contenido de ETBE(%masa)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoEtbeMasa" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoEtbeMasa').valid}" type="text" class="form-control form-control-sm" id="txtContenidoEtbeMasa">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoEtanolMasa" class="col-md-7 col-form-label">Contenido de ETANOL(%masa)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoEtanolMasa" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoEtanolMasa').valid}" type="text" class="form-control form-control-sm" id="txtContenidoEtanolMasa">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoMetanolMasaa" class="col-md-7 col-form-label">Contenido de METANOL(%masa)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoMetanolMasa" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoMetanolMasa').valid}" type="text" class="form-control form-control-sm" id="txtContenidoMetanolMasa">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoTertbutanoMasa" class="col-md-7 col-form-label">Contenido de TERT-BUTANOL(%masa)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoTertbutanoMasa" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoTertbutanoMasa').valid}" type="text" class="form-control form-control-sm" id="txtContenidoTertbutanoMasa">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoDipeMasa" class="col-md-7 col-form-label">Contenido de DIPE(%masa)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoDipeMasa" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoDipeMasa').valid}" type="text" class="form-control form-control-sm" id="txtContenidoDipeMasa">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtTotalOxigenadosMasa" class="col-md-7 col-form-label">Total Oxigenados (%masa)</label>
                    <div class="col-md-5">
                      <input formControlName="totalOxigenadosMasa" [ngClass]="{'is-invalid': !formaLiquido.get('totalOxigenadosMasa').valid}" type="text" class="form-control form-control-sm" id="txtTotalOxigenadosMasan">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtReaccionAlAgua" class="col-md-7 col-form-label">Reacción al agua (ml)</label>
                    <div class="col-md-5">
                      <input formControlName="reaccionAlAgua" [ngClass]="{'is-invalid': !formaLiquido.get('reaccionAlAgua').valid}" type="text" class="form-control form-control-sm" id="txtReaccionAlAgua">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoSolidos " class="col-md-7 col-form-label">Contenido de Sólidos (mg/L)</label>
                    <div class="col-md-5">
                      <input formControlName="contenidoSolidos" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoSolidos').valid}" type="text" class="form-control form-control-sm" id="txtContenidoSolidos">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContenidoGomas " class="col-md-7 col-form-label">Contenido de Gomas (mg/100 mL) </label>
                    <div class="col-md-5">
                      <input formControlName="contenidoGomas" [ngClass]="{'is-invalid': !formaLiquido.get('contenidoGomas').valid}" type="text" class="form-control form-control-sm" id="txtContenidoGomas">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtPuntoCongelamiento" class="col-md-7 col-form-label">Punto congelamiento (ªC)</label>
                    <div class="col-md-5">
                      <input formControlName="puntoCongelamiento" [ngClass]="{'is-invalid': !formaLiquido.get('puntoCongelamiento').valid}" type="text" class="form-control form-control-sm" id="puntoCongelamiento">
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange6" title="Sexto">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAguaSedimentos" class="col-md-7 col-form-label">Agua y sedimentos (%V/V)</label>
                    <div class="col-md-5">
                      <input formControlName="aguaSedimentos" [ngClass]="{'is-invalid': !formaLiquido.get('aguaSedimentos').valid}" type="text" class="form-control form-control-sm" id="txtAguaSedimentos">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtDeterminacionBenceno" class="col-md-7 col-form-label">Determinación de Benceno</label>
                    <div class="col-md-5">
                      <input formControlName="determinacionBenceno" [ngClass]="{'is-invalid': !formaLiquido.get('determinacionBenceno').valid}" type="text" class="form-control form-control-sm" id="txtDeterminacionBenceno">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtAguaPorDestilacion" class="col-md-7 col-form-label">Agua por destilación</label>
                    <div class="col-md-5">
                      <input formControlName="aguaPorDestilacion" [ngClass]="{'is-invalid': !formaLiquido.get('aguaPorDestilacion').valid}" type="text" class="form-control form-control-sm" id="txtAguaPorDestilacion">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtColor" class="col-md-7 col-form-label">Color</label>
                    <div class="col-md-5">
                      <input formControlName="color" [ngClass]="{'is-invalid': !formaLiquido.get('color').valid}" type="text" class="form-control form-control-sm" id="txtColor">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtContaminacionParticulas" class="col-md-7 col-form-label">Contaminación particulas por filtración de laboratorio mg/L</label>
                    <div class="col-md-5">
                      <input formControlName="contaminacionParticulas" [ngClass]="{'is-invalid': !formaLiquido.get('contaminacionParticulas').valid}" type="text" class="form-control form-control-sm" id="txtContaminacionParticulas">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtIndiceCetanoFame" class="col-md-7 col-form-label">Indice de Cetano calculado ecuación 4 variables Determinación de FAME en combustibles de aviación (mg/kg)</label>
                    <div class="col-md-5">
                      <input formControlName="indiceCetanoFme" [ngClass]="{'is-invalid': !formaLiquido.get('indiceCetanoFme').valid}" type="text" class="form-control form-control-sm" id="txtContenidoMetanolVolumen">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row padding-left-6">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtResultadoFinal" class="col-md-7 col-form-label">Resultado Final</label>
                    <div class="col-md-5">
                      <input formControlName="resultadoFinal" [ngClass]="{'is-invalid': !formaLiquido.get('resultadoFinal').valid}" type="text" class="form-control form-control-sm" id="txtRresultadoFinal">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="txtRemanenteRetirado " class="col-md-7 col-form-label">Remanente Retirado</label>
                    <div class="col-md-5">
                      <input formControlName="remanenteRetirado" [ngClass]="{'is-invalid': !formaLiquido.get('remanenteRetirado').valid}" type="text" class="form-control form-control-sm" id="txtRemanenteRetirado">
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</form>
<app-loading *ngIf="loading" ></app-loading>