<div class="modal-header text-white bg-dark">
  <h4 class="modal-title">{{titulo}}</h4>
  <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<ng-container *ngIf="tipoContenido === tiposContenido.agregarDetalleGuia">
  <div class="modal-body">
    <app-registrar-detalle #detalleGuia [detalle]="data"></app-registrar-detalle>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" [disabled]="!detalleGuia.validar()" (click)="activeModal.close(detalleGuia.formaDetalle.getRawValue())">
      <i class="fas fa-check"></i>&nbsp;Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">
      <i class="fas fa-ban"></i>&nbsp;Cancelar</button>
  </div>
</ng-container>

<ng-container *ngIf="tipoContenido === tiposContenido.informeEnsayoGlp">
  <div class="modal-body">
    <app-informe-ensayo-glp #informeGlp [detalleGuiaId]="data" ></app-informe-ensayo-glp>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" [disabled]="!informeGlp.formaGlp?.valid" (click)="activeModal.close(informeGlp.formaGlp.value)">
      <i class="fas fa-check"></i>&nbsp;Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">
      <i class="fas fa-ban"></i>&nbsp;Cancelar</button>
  </div>
</ng-container>

<ng-container *ngIf="tipoContenido === tiposContenido.informeEnsayoLiquido">
  <div class="modal-body">
    <app-informe-ensayo-liquido #informeLiquido [detalleGuiaId]="data"></app-informe-ensayo-liquido>    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" [disabled]="!informeLiquido.formaLiquido?.valid" (click)="activeModal.close(informeLiquido.formaLiquido.value)">
      <i class="fas fa-check"></i>&nbsp;Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">
      <i class="fas fa-ban"></i>&nbsp;Cancelar</button>
  </div>
</ng-container>