<form [formGroup]="formaGlp" (ngSubmit)="onSubmit()" *ngIf="infoEnsayoGlp">
  <div class="form-group row">
    <label for="txtInfLab" class="col-sm-3 col-form-label">N° Informe Laboratorio</label>
    <div class="col-sm-9">
      <input formControlName="numeroInformeLaboratorio" type="text" class="form-control form-control-sm" [ngClass]="{'is-invalid': !formaGlp.get('numeroInformeLaboratorio').valid}" id="txtInfLab" placeholder="Nro. Informe Laboratorio">
    </div>
  </div>
  <div class="form-group row">
    <label for="txtObservaciones" class="col-sm-3 col-form-label">Observaciones</label>
    <div class="col-sm-9">
      <input formControlName="observaciones" type="text" class="form-control form-control-sm" [ngClass]="{'is-invalid': !formaGlp.get('observaciones').valid}" id="txtObservaciones" placeholder="Detallar">
    </div>
  </div>
  <ngb-tabset>
    <ngb-tab class="nav nav-pills mb-3" id="tab-preventchange1" title="Primera">
      <ng-template ngbTabContent>
        <div class="row padding-top-15 padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtDensidadRelativa" class="col-md-5 col-form-label">Densidad Relativa</label>
              <div class="col-md-7">
                <input formControlName="densidadRelativa" type="text" class="form-control form-control-sm" [ngClass]="{'is-invalid': !formaGlp.get('densidadRelativa').valid}" id="txtDensidadRelativa">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtPresionVapor" class="col-md-5 col-form-label">Presión de Vapor</label>
              <div class="col-md-7">
                <input formControlName="presionVapor" [ngClass]="{'is-invalid': !formaGlp.get('presionVapor').valid}" type="text" class="form-control form-control-sm" id="txtPresionVapor">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtOctanoMotor" class="col-md-5 col-form-label">N° Octano Motor</label>
              <div class="col-md-7">
                <input formControlName="numeroOctanoMotor" [ngClass]="{'is-invalid': !formaGlp.get('numeroOctanoMotor').valid}" type="text" class="form-control form-control-sm" id="txtOctanoVapor">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtMetano" class="col-md-5 col-form-label">Metano (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="metanoMol" [ngClass]="{'is-invalid': !formaGlp.get('metanoMol').valid}" type="text" class="form-control form-control-sm" id="txtMetano">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtEtano" class="col-md-5 col-form-label">Etano (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="etanoMol" [ngClass]="{'is-invalid': !formaGlp.get('etanoMol').valid}" type="text" class="form-control form-control-sm" id="txtEtano">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtEtileno" class="col-md-5 col-form-label">Etileno (%Mol)"</label>
              <div class="col-md-7">
                <input formControlName="etilenoMol" [ngClass]="{'is-invalid': !formaGlp.get('etilenoMol').valid}" type="text" class="form-control form-control-sm" id="txtEtileno">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtPropano" class="col-md-5 col-form-label">Propano (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="propanoMol" [ngClass]="{'is-invalid': !formaGlp.get('propanoMol').valid}" type="text" class="form-control form-control-sm" id="txtPropano">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtPropileno" class="col-md-5 col-form-label">Propileno (%Mol)"</label>
              <div class="col-md-7">
                <input formControlName="propilenoMol" [ngClass]="{'is-invalid': !formaGlp.get('propilenoMol').valid}" type="text" class="form-control form-control-sm" id="txtPropileno">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtIsobutano" class="col-md-5 col-form-label">Isobutano (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="isobutanoMol" [ngClass]="{'is-invalid': !formaGlp.get('isobutanoMol').valid}" type="text" class="form-control form-control-sm" id="txtIsobutano">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtButano" class="col-md-5 col-form-label">N-Butano (%Mol)"</label>
              <div class="col-md-7">
                <input formControlName="nbutanoMol" [ngClass]="{'is-invalid': !formaGlp.get('nbutanoMol').valid}" type="text" class="form-control form-control-sm" id="Butano">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-preventchange2" title="Segunda">
      <ng-template ngbTabContent>
        <div class="row padding-top-15 padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtTransButeno" class="col-md-5 col-form-label">Trans 2 Buteno(% Mol)</label>
              <div class="col-md-7">
                <input formControlName="trans2butenoMol" [ngClass]="{'is-invalid': !formaGlp.get('trans2butenoMol').valid}" type="text" class="form-control form-control-sm" id="txtTransButeno">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtButeno" class="col-md-5 col-form-label">1-Buteno (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="butenoMol" [ngClass]="{'is-invalid': !formaGlp.get('butenoMol').valid}" type="text" class="form-control form-control-sm" id="txtButeno">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtIsobutileno" class="col-md-5 col-form-label">Isobutileno (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="isobutilenoMol" [ngClass]="{'is-invalid': !formaGlp.get('isobutilenoMol').valid}" type="text" class="form-control form-control-sm" id="txtIsobutileno">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtCisButeno" class="col-md-5 col-form-label">Cis 2 Buteno (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="cis2butenoMol" [ngClass]="{'is-invalid': !formaGlp.get('cis2butenoMol').valid}" type="text" class="form-control form-control-sm" id="txtCisButeno">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtIsopentano" class="col-md-5 col-form-label">Isopentano (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="isopentanoMol" [ngClass]="{'is-invalid': !formaGlp.get('isopentanoMol').valid}" type="text" class="form-control form-control-sm" id="txtIsopentano">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtNPentano " class="col-md-5 col-form-label">N- Pentano (%Mol)</label>
              <div class="col-md-7">
                <input formControlName="npentanoMol" [ngClass]="{'is-invalid': !formaGlp.get('npentanoMol').valid}" type="text" class="form-control form-control-sm" id="txtNPentano">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtButadieno " class="col-md-5 col-form-label">1,3 Butadieno </label>
              <div class="col-md-7">
                <input formControlName="butadienoMol" [ngClass]="{'is-invalid': !formaGlp.get('butadienoMol').valid}" type="text" class="form-control form-control-sm" id="txtButadieno">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtHexanos" class="col-md-5 col-form-label">Hexanos</label>
              <div class="col-md-7">
                <input formControlName="hexano" [ngClass]="{'is-invalid': !formaGlp.get('hexano').valid}" type="text" class="form-control form-control-sm" id="txtHexanos">
              </div>
            </div>
          </div>
        </div>
        <div class="row padding-left-6">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtCorrosionLaminaCobre " class="col-md-5 col-form-label">Corrosión a la lámina de cobre </label>
              <div class="col-md-7">
                <input formControlName="corrosionLaminaCobre" [ngClass]="{'is-invalid': !formaGlp.get('corrosionLaminaCobre').valid}" type="text" class="form-control form-control-sm" id="txtCorrosionLaminaCobre">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="txtDeterminacionEtilMercaptano" class="col-md-5 col-form-label">Determinación de Etil Mercaptano - FASE VAPOR (ppmv)</label>
              <div class="col-md-7">
                <input formControlName="determinacionEtilMercaptano" [ngClass]="{'is-invalid': !formaGlp.get('determinacionEtilMercaptano').valid}" type="text" class="form-control form-control-sm" id="txtDeterminacionEtilMercaptano">
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</form>